/* Color variables */
:root {
  --white-color: #000;
  --bg-color: #000;
  --dark-color: #000;
}

/* Changing background color */
body {
  background: var(--bg-color) !important;
}

/* Changing link color */
.nav-item .nav-link {
  color: var(--white-color);
}

/* Hero section background image */
.hero {
  height: 100vh;
  background-image: url("chat/images/11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#k1 {
  background-image: url("chat/images/1.jpg");
  height: 300px;
  object-fit: cover;
}
#k2 {
  background-image: url("chat/images/2.jpg");
  height: 300px;
  object-fit: cover;
}
#k3 {
  background-image: url("chat/images/3.jpg");
  height: 300px;
  object-fit: cover;
}
#k4 {
  background-image: url("chat/images/4.jpg");
  height: 300px;
  object-fit: cover;
}
#k5 {
  background-image: url("chat/images/6.png");
  height: 300px;
  object-fit: cover;
}
#k6 {
  background-image: url("chat/images/2.png");
  height: 300px;
  object-fit: cover;
}

#bg {
  color: rgb(15,192,242);
}
#bg2 {
  color: rgb(215,2,110);
}
#bg1{
  color: rgb(120,0,240);
}
}
#skills i {
  height: 100px;
  width: 100px;
}

#portfolio img {
  height: 300px;
  object-fit: cover;
}

.social-icons a {
  width: 40px;
  height: 40px;
}

footer .social-icons a {
  width: 30px;
  height: 30px;
}

#cv img {
  width: 230px;
}


@media screen and (max-width: 990px) {
  #skills .card {
    width: calc(100% / 2 - 10px) !important;
  }
}

@media screen and (max-width: 300px) {
  #skills .card,
  #k1 {
    width: 100% !important;
  }
  #k2 {
    width: 100% !important;
  }
  #k3 {
    width: 100% !important;
  }
  #k4 {
    width: 100% !important;
  }
  #k5 {
    width: 100% !important;
  }
  #k6 {
    width: 100% !important;
  }
}
